@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  background-color: rgb(248 250 252);
  color: rgb(15 23 42);
}

a {
  color: inherit;
  text-decoration: none;
}
